.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
.freeBox__ksXki {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__wxOQt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.cellX:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 139px;
  flex-shrink: 0;
}
.freeBox__vyMa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__f70Oa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.cellY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 139px;
  flex-shrink: 0;
}
.freeBox__vgo31 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__zwMsG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.cellCountX:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 139px;
  flex-shrink: 0;
}
.freeBox__aox9G {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__jdqei {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.cellCountY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 139px;
  flex-shrink: 0;
}
.freeBox__zu7Yw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.freeBox__zu7Yw > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 38px);
  width: calc(100% + 38px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__zu7Yw > :global(.__wab_flex-container) > *,
.freeBox__zu7Yw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zu7Yw > :global(.__wab_flex-container) > picture > img,
.freeBox__zu7Yw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 38px;
  margin-top: 0px;
}
.button__qhRjI:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.text__la4S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button___0KBea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  display: block;
}
.text__agpPe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__a48Xo {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.text__lbccM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dropdown:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.menuItem__b2OmW:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__n2Qkr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__bpsEx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zPx07 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button___7JSg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__sFyF3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
