.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button___7MPaN:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__slqSa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__e34Zb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-left: 52px;
}
.text__rw0F1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
