.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.freeBox__httPx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__ls3Hs {
  position: relative;
  width: 70px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
}
.text___0Sue {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___1AwA5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__lxby6 {
  position: relative;
  width: 70px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
}
.text__bW0N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__drrZp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__hrkRv {
  position: relative;
  width: 70px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
}
.text__jeFzF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
