.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-kzT08fQBAHgz);
  min-height: 100px;
  padding-left: 17px;
  padding-right: 26px;
}
.freeBox__wFnX {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__pnvuF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.cx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-right: 0px;
}
.freeBox___3LFKi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___4JykU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.cx2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-right: 0px;
}
.freeBox__sjJ9J {
  display: block;
  position: relative;
  width: 100%;
  height: 100px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.clone:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 5px;
  top: 25px;
  width: 119px;
}
.text___7L33Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.clear:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 127px;
  top: 25px;
  width: 130px;
  z-index: 1;
}
.text__u60VG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
