/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
    position: relative;
    color: white;
    height: 100vh;
    /*background: linear-gradient(*/
    /*        200.96deg,*/
    /*        #fedc2a -29.09%,*/
    /*        #dd5789 51.77%,*/
    /*        #7a2c9e 129.35%*/
    /*);*/
    background: black;
    font-family: sans-serif;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

button {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    appearance: none;
    font-size: 1.3rem;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    transition: all ease-in 0.1s;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    transform: scale(1.05);
    opacity: 1;
}

li {
    list-style: none;
}

.ReceiverView {
    position: absolute;
    height: 100vh;
    top: 0px;
    left: 0px;
    width: 100%;
    border: none;
    padding: 0px;
}

a {
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    margin: 10px;
}

a:hover {
    opacity: 1;
    text-decoration: none;
}

#root {
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
}
.MainView {
    overflow: hidden;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*margin: 20px 0;*/
}

.openDevTools {
    position: absolute;
    top: 0px;
    left: 0px;
}
.bg {

    position: fixed;
    top: 25px;
    left: 55px;
    width: 60%;
    opacity: 0.2;
    min-width: 100vh;
    min-height: 100vh;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

.GbrEditorContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.GbrEditor {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.GbrEditorToolBox {
    position: absolute;
    top:0px;
    right: 0px;
}

/*delete this shit*/

.react-draggable, .cursor {
    cursor: move;
}
.no-cursor {
    cursor: auto;
}
.cursor-y {
    cursor: ns-resize;
}
.cursor-x {
    cursor: ew-resize;
}

.react-draggable strong {
    background: #ddd;
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    margin-bottom: 1px;
    padding: 3px 5px;
    text-align: center;
}

.box {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    margin: 0px;
    padding: 0px;
    float: left;
}
.no-pointer-events {
    pointer-events: none;
}
.hovered {
    background-color: gray;
}
